@import '../../../styles/variables.scss';

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .title {
    width: 100;
    text-align: center;
    padding: 20px;
    white-space: nowrap;

    @include media('<=big-mobile') {
      width: 100%;
      white-space: wrap;
    }
  }

  .belt {
    height: 2px;
    width: 100%;
    background-color: $pokeColor;
    border-radius: 100%;

    @include media('<=big-mobile') {
      display: none;
    }
  }
}
