@import '../../../styles/variables.scss';

.aside {
  margin-top: 50px;

  .title {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2.5px $textColor solid;

    @include media('<=desktop') {
      font-size: 22px;
    }
  }

  .urbexImg {
    width: 100%;
    height: 260px;
    margin-bottom: 30px;

    @include media('<=desktop') {
      height: 236px;
    }
  }

  p {
    text-align: left;
    margin-bottom: 40px;
    font-size: 18px;

    @include media('<=desktop') {
      text-align: center;
    }
  }

  .listTitle {
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
  }

  // h3 {
  //   text-align: center;
  //   font-size: 20px;
  //   font-weight: 600;
  //   margin-bottom: 20px;
  // }

  .btn {
    width: 200px;
    height: auto;
    font-size: 22px;
    font-weight: 500;
    background-color: transparent;
    border-bottom: 3px solid $pokeColor;
    border-left: 3px solid $pokeColor;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;

    & > * {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0%;
      background-color: $pokeColor;
      transition: all linear 0.4s;
    }

    p {
      margin: 0;
    }

    .belt {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(to right, #779974, #e7e6d3, #e7e6d3);
      height: 3px;
    }

    .horizontalBelt {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      background: linear-gradient(to top, #779974, #e7e6d3, #e7e6d3);
      width: 3px;
    }

    .animatedWidthBelt {
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      background-color: $pokeColor;
    }

    .animatedHeightBelt {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 3px;
      background-color: $pokeColor;
    }

    svg {
      margin-left: 20px;
      stroke-width: 1px;
      stroke: $textColor;
    }

    &:hover {
      cursor: pointer;

      // &::before {
      //   width: 100%;
      // }
    }

    .animatedWidthBelt {
      animation: animateWidth 0.2s linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    .animatedWidthBeltBack {
      animation: animateWidthBack 0.2s linear;
      animation-iteration-count: 1;
      animation-fill-mode: backwards;
    }

    .animatedHeightBelt {
      animation: animateHeight 0.2s linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    .animatedHeightBeltBack {
      animation: animateHeightBack 0.2s linear;
      animation-iteration-count: 1;
      animation-fill-mode: backwards;
    }
  }
}
