@import '../../styles/variables.scss';

.placesMain {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3cpath d='M250 169.87C161.42 228.78 48.39 208.76 48.39 250C48.39 291.64 154.86 282.35 250 335.62C378.11 407.35 385.47 409.81 494.9 500C510.47 512.84 496.52 541.67 500 541.67C503.53 541.67 492.09 511.55 508.93 500C617.09 425.81 622.49 414.7 750 370.19C868.03 328.99 882.07 367.19 1000 328.57C1065.58 307.09 1117.02 285.42 1117.02 250C1117.02 217.19 1053.22 229.36 1000 192.11C874.64 104.36 759.87 53.94 759.87 0C759.87 -42.12 879.93 0 1000 0C1125 0 1125 0 1250 0C1343.26 0 1348.94 -16.88 1436.51 0C1473.94 7.21 1491.01 12.8 1500 48.19C1522.76 137.8 1500 149.1 1500 250C1500 375 1500 375 1500 500C1500 583.9 1534.48 603.16 1500 667.81C1467.82 728.16 1366.67 699.53 1366.67 750C1366.67 813.79 1456.25 814.3 1500 896.34C1522.91 939.3 1532.69 980.86 1500 1000C1444.15 1032.69 1403.97 1020.26 1322.92 1000C1278.97 989.01 1278.87 937.5 1250 937.5C1229.73 937.5 1253.5 992.78 1224.64 1000C1128.5 1024.03 1112.32 1000 1000 1000C875 1000 875 1000 750 1000C627.09 1000 610.98 1017.8 504.17 1000C485.98 996.97 504.01 978.86 500 958.33C479.6 853.86 516.75 821.05 455.36 750C391.75 676.39 342.48 669.01 250 669.01C205.58 669.01 188.98 700.8 181.55 750C163.98 866.3 250.49 930.47 200 1000C159.72 1055.47 44.44 1055.56 0 1000C-55.56 930.56 0 875 0 750C0 625 0 625 0 500C0 375 0 375 0 250C0 125 -62.5 62.5 0 0C62.5 -62.5 125 0 250 0C337.17 0 424.34 -35.45 424.34 0C424.34 49.49 349.39 103.78 250 169.87' stroke='rgba(219%2c 218%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M250 89.74C135.72 142.14 77.83 184.8 0 156.86C-47.17 139.93 -48.19 30.24 0 0C76.81 -48.19 125 0 250 0C296.06 0 342.11 -18.73 342.11 0C342.11 26.14 306.77 63.71 250 89.74' stroke='rgba(219%2c 218%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 403.23C90.18 374.82 132.55 390.29 250 421.23C316.23 438.68 367.35 460.24 367.35 500C367.35 540.12 300.98 532.01 250 580.99C170.88 657.01 159.22 654.52 107.14 750C44.94 864.03 70.98 884.38 21.43 1000C17.41 1009.38 0.85 1009.87 0 1000C-9.87 884.87 0 875 0 750C0 625 0 625 0 500C0 451.62 -34.82 414.2 0 403.23' stroke='rgba(219%2c 218%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M250 9.62C126.82 25.88 109.98 38.54 0 34.31C-15.02 33.73 -15.08 2.07 0 0C109.92 -15.08 125 0 250 0C254.94 0 259.87 -2.01 259.87 0C259.87 2.8 256.76 8.73 250 9.62' stroke='rgba(219%2c 218%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1000 60.53C955.92 60.53 924.34 16.99 924.34 0C924.34 -13.27 962.17 0 1000 0C1110.57 0 1221.15 -14.86 1221.15 0C1221.15 15.41 1104.32 60.53 1000 60.53' stroke='rgba(219%2c 218%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1398.81 250C1398.81 206 1465.14 198.8 1500 198.8C1515.74 198.8 1500 224.4 1500 250C1500 368.06 1524.23 486.11 1500 486.11C1473.64 486.11 1398.81 349.66 1398.81 250' stroke='rgba(219%2c 218%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 635.42C8.35 635.42 32.74 693.5 32.74 750C32.74 792.45 8.48 833.33 0 833.33C-7.89 833.33 0 791.66 0 750C0 692.71 -8.02 635.42 0 635.42' stroke='rgba(219%2c 218%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M761.36 750C876.76 633.09 902.42 521.74 1000 521.74C1074.24 521.74 1094.26 631.89 1105 750C1116 871.02 1088.39 893.06 1043.48 1000C1035.89 1018.06 1021.74 1000 1000 1000C875 1000 875 1000 750 1000C731.25 1000 712.5 1015.88 712.5 1000C712.5 903.38 728.19 886.57 750 775C752.62 761.57 751.76 759.72 761.36 750' stroke='rgba(219%2c 218%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.polandMapContainer {
  width: fit-content;
  display: flex;
  gap: 100px;
  align-items: center;
  // margin: 0 auto;
  // width: 600px;
  // height: 600px;

  span {
    height: fit-content;
  }
}

.gridArticlesContainer {
  display: grid;
  grid-template: auto / repeat(4, auto);
  justify-content: center;

  @include media('<=desktop') {
    grid-template: auto / repeat(3, auto);
  }

  @include media('<=small-desktop') {
    grid-template: auto / repeat(2, auto);
  }

  @include media('<=tablet-portrait') {
    grid-template: auto / auto;
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: fit-content;

    @include media('<=tablet-portrait') {
      padding: 20px 0;
    }
  }
}

@keyframes animateWidth {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes animateHeight {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

.article {
  .header {
    height: 600px;
    position: relative;
    width: 100%;

    @include media('<=big-mobile') {
      height: 400px;
    }

    .vignette {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.3;
    }

    .topVignette {
      top: 0;
      left: 0;
      height: 12%;
      width: 100%;
      position: absolute;
      background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.1),
        transparent
      );
    }

    .landingPage {
      width: 100%;
      height: 100%;
    }

    .headerContent {
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        transparent,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      );
      height: 45%;
      width: 100%;
      z-index: 99999999;

      @include media('<=big-mobile') {
        height: 80%;
      }

      @include media('<=mobile') {
        height: 85%;
      }

      h1 {
        margin-top: 30px;
      }

      .headerContainer {
        @include media('<=tablet-portrait') {
          width: 90%;
          max-width: 90%;
        }

        .headerInfo {
          width: fit-content;
          p,
          h1 {
            color: $lightAquamarineColor;
          }

          h1 {
            @include media('<=tablet-portrait') {
              font-size: 26px;
            }
          }

          .title {
            margin-bottom: 10px;
          }

          .dateAndAuthor {
            display: flex;
            gap: 30px;

            @include media('<=big-mobile') {
              flex-direction: column;
              gap: 5px;
            }

            p {
              color: $lightAquamarineColor;
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }

        .sharingAndRatingContainer {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 10px;

          .headerRating {
            width: 100%;

            .rating {
              display: flex;
              justify-content: flex-end;
              width: 100%;
              color: $lightAquamarineColor;
            }
          }

          .shareContainer {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            svg {
              margin: 0 !important;
              margin-right: 15px !important;
            }

            .mediaIcon {
              width: 15px;
              height: 15px;
              margin-left: 15px;
              color: $lightAquamarineColor;

              @include media('>=tablet-portrait', '<=tablet-landscape') {
                width: 15px;
                height: 15px;
              }

              @include media('>=tablet-landscape') {
                width: 20px;
                height: 20px;
              }

              @include media('>=desktop') {
                margin-left: 25px;
              }

              @include media('>=tablet-landscape') {
                &:hover {
                  cursor: pointer;
                  transition: 0.3s;
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }
    }
  }

  .ArticleContainer {
    @include media('<=tablet-portrait') {
      width: 90%;
      max-width: 90%;
    }

    @include media('<=mobile') {
      width: 95%;
      max-width: 95%;
    }
  }

  .gridContainer {
    display: grid;
    grid-template: auto / calc(70% - 45px) calc(25% - 45px);
    width: 100%;
    height: auto;
    gap: 90px;
    justify-content: center;

    @include media('<=small-desktop') {
      grid-template: auto / 100%;
    }

    .main {
      margin-top: 50px;

      .seed {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @include media('<=big-mobile') {
          display: none;
        }

        svg {
          stroke-width: 0.5;
          margin: 0 6px;
        }

        .seedTitle {
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .seedLink {
          &:hover {
            cursor: pointer;
            color: $pokeColor;
            text-decoration: underline $pokeColor;
          }
        }

        p,
        em {
          font-size: 16px;
          white-space: nowrap;
        }
      }

      .title {
        width: 100%;
        text-align: center;
        margin: 30px 0;
        font-size: 28px;
      }

      .gallery {
        margin-top: 50px;

        @include media('<=big-mobile') {
          img {
            width: 100%;
            margin-top: 20px;
          }
        }
      }
    }

    .aside {
      @include media('<=small-desktop') {
        display: none;
      }
    }
  }
}
