@import '../../styles/variables.scss';

@keyframes animateWidth {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes animateHeight {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

.article {
  .header {
    height: 600px;
    position: relative;
    width: 100%;

    .vignette {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.3;
    }

    .topVignette {
      top: 0;
      left: 0;
      height: 12%;
      width: 100%;
      position: absolute;
      background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.1),
        transparent
      );
    }

    .landingPage {
      width: 100%;
      height: 100%;
    }

    .headerContent {
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        transparent,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      );
      height: 45%;
      width: 100%;
      z-index: 99999999;

      h1 {
        margin-top: 30px;
      }

      .headerContainer {
        .headerInfo {
          width: fit-content;
          p,
          h1 {
            color: $lightAquamarineColor;
          }

          .title {
            margin-bottom: 10px;
          }

          .dateAndAuthor {
            display: flex;
            gap: 30px;

            p {
              color: $lightAquamarineColor;
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }

        .sharingAndRatingContainer {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 10px;

          .headerRating {
            width: 100%;

            .rating {
              display: flex;
              justify-content: flex-end;
              width: 100%;
              color: $lightAquamarineColor;
            }
          }

          .shareContainer {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            svg {
              margin: 0 !important;
              margin-right: 15px !important;
            }

            .mediaIcon {
              width: 15px;
              height: 15px;
              margin-left: 15px;
              color: $lightAquamarineColor;

              @include media('>=tablet-portrait', '<=tablet-landscape') {
                width: 15px;
                height: 15px;
              }

              @include media('>=tablet-landscape') {
                width: 20px;
                height: 20px;
              }

              @include media('>=desktop') {
                margin-left: 25px;
              }

              @include media('>=tablet-landscape') {
                &:hover {
                  cursor: pointer;
                  transition: 0.3s;
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }
    }
  }

  .gridContainer {
    display: grid;
    grid-template: auto / calc(70% - 45px) calc(25% - 45px);
    width: 100%;
    height: auto;
    gap: 90px;
    justify-content: center;

    .main {
      margin-top: 50px;

      .seed {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        svg {
          stroke-width: 0.5;
          margin: 0 6px;
        }

        .seedTitle {
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .seedLink {
          &:hover {
            cursor: pointer;
            color: $pokeColor;
            text-decoration: underline $pokeColor;
          }
        }

        p,
        em {
          font-size: 16px;
          white-space: nowrap;
        }
      }

      .title {
        width: 100%;
        text-align: center;
        margin: 30px 0;
        font-size: 28px;
      }

      .gallery {
        margin-top: 50px;
      }
    }
  }
}
