@import './breakpoints.scss';
@import 'include-media';

$aquamarineColor: #f1fdef;
$lightAquamarineColor: #f8fff8;
$pokeColor: #779974;
$greenColor: #86e486;
$textColor: #4c4948;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
